@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The Magnificient Melbourne application allows Users to create a personal account and use the same to Book Tickets for Events and Trips
    that are organized by ASPNET Pty Ltd a tourism and hospitality company. It also allows users to View different Events conduced across Melbourne,
    Bookmark Events, Share Events with Friends and helps users to suggest events of interest to them
</p>
