@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<strong>
    Harish Kumar Vimalathithan
    Monash University - Caulfield Campus<br />
    900, Dandenong Road<br />
    Caulfield East VIC 3145<br />
</strong>

<address>
    <strong>Support:</strong>   <a href="mailto:hvim0001@student.monash.edu">hvim0001@student.monash.edu</a><br />
</address>