@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="responsive">
        <div class="container">
            <div class="jumbotron">
                <div class="text">
                    <h2 class="heading1">Welcome to Magnificent Melbourne!</h2>
                    <h2 class="heading2"> Book Events Now to experience Melbourne like never before! </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="row-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Wilson%27s_Promontory_-_Tidal_River_from_Mt_Oberon_-_Dec_2004.jpg" class="img-thumbnail" />
                <strong>Book Tickets to Events and Trips and get the most of your Melbourne Trip </strong>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/CBD_Melbourne.jpg/405px-CBD_Melbourne.jpg" class="img-thumbnail" />

                <strong>Invite Your Friends to the Events and Trips you have Booked</strong>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/The_coast_of_Philip_Island.jpg" class="img-thumbnail" />
                <strong>Cancel your Bookings without any Hassle!</strong>
            </div>
        </div>
    </div>
</div>